<footer class="mt-3">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/share/1aWWwE6Xev/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/averra2025?igsh=MWl5bGdhc2g3cDFhYg=="><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/devansh-parti-05aa3832a/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Averra Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>