<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h2>Add your hotel</h2>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"> <!-- novalidate is used to disable HTML5 default browser validation and we will use the class to add our custom stylings to the valdation & enctype is used to make our form able to take images as data and not just text-->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="listing[title]" placeholder="Add a catchy title" required >
                <div class="invalid-feedback">Please provide a valid title.</div>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
                <div class="invalid-feedback">Please provide a valid description.</div>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" name="listing[image]" class="form-control" required>
                <div class="invalid-feedback">Please provide a valid image</div>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" class="form-control"  placeholder="1200" required>
                    <div class="invalid-feedback">Please provide a valid Price</div>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" class="form-control" placeholder="India" required>
                    <div class="invalid-feedback">Please provide a valid country.</div>
                    <div class="valid-feedback">looks good</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control" placeholder="Jaipur,Rajasthan" required>
                <div class="invalid-feedback">Please provide a valid location.</div>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-select" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="trending">Trending</option>
                    <option value="culture">Culture</option>
                    <option value="hostels">Hostels</option>
                    <option value="mountain">Mountains</option>
                    <option value="beaches">Beaches</option>
                    <option value="camping">Camping</option>
                    <option value="castles">Castles</option>
                    <option value="farmstays">Farmstays</option>
                    <option value="urban">Urban</option>
                    <option value="nature">Nature</option>
                    <option value="apartment">Apartment</option>
                </select>
                <div class="invalid-feedback">Please select a valid category.</div>
                <div class="valid-feedback">looks good</div>
            </div>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br><br>
        </form> 
    </div>
</div>
<script src="/js/script.js"></script>
